*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    max-width: 100%;
    max-height: 100%;
}
/* Header  */

.header{
    position: absolute;
    width: 100%;
    height: 8vh;
    background-color: black;
    opacity: 80%;
}
.logo{
    max-width: 8vh;
    max-height: 8vh;
}
.menu{
    position: absolute;
    right: 0%; top: 0%;
    margin: 1vh;
    background-color: white;
    opacity: 25%;
}
h1{
    max-width: 20vh
        15px;
    text-align: center;
}

/* Showcase, parte principal */

.showcase h2{
    position: absolute;
    font-size: 65px;
    margin: 50vh auto auto 10vh;
    color: rgb(70, 50, 50);
    opacity: 200%;


}
.viajante{
    position: absolute;
    max-width: 35vh;    
    max-height: 60vh;
    margin: 10vh 0px 0vh 10vh;

}
.video{
    position: static;
    width: 100vh;
    min-height: 100vh;
    opacity: 0.8;

}